/* General Body */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
}

.app {
  max-width: 1200px;
  margin: auto;
}

/*Product Image */
.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* Buttons  */
.product-card button {
  background-color: #14b8a6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease;
}
*/ .product-card button:hover {
  background-color: #0f766e;
  transform: scale(1.05);
}



/* Cart */
.cart-container {
  background-color: #ffffff;
  padding: 25px;
  margin: 20px 20px 40px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.cart-container h3 {
  color: #1c807e;
  margin-bottom: 20px;
  font-size: 22px;
}

.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  color: #0e7e7d;
  font-weight: 500;
}

.remove-btn {
  background-color: #05aeab;
  color: white;
}

.remove-btn:hover {
  background-color: #136e6d;
}
